/* line 3, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%; }

/* line 10, style.scss */
html {
  font: normal 16px sans-serif;
  color: #333333 !important; }

/* line 15, style.scss */
ul, nav {
  list-style: none; }

/* line 20, style.scss */
section {
  display: flex;
  display: -webkit-box;
  /*OLD - iOS 6-, Safari 3.1-6 */
  /*OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*-------------
 	Header
-------------*/
/* line 35, style.scss */
header {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex; }
  /* line 44, style.scss */
  header.active {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    display: flex; }
  /* line 54, style.scss */
  header nav {
    display: inline-block;
    position: absolute;
    right: 8%; }
    /* line 60, style.scss */
    header nav li {
      margin: 2% 26px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }

/*----------------
 	Main Nav
----------------*/
/* line 74, style.scss */
.navbart {
  left: 0;
  top: 0;
  width: 100%;
  padding: 2%;
  font-size: 16px;
  background-color: transparent;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  text-decoration: none; }

/* line 87, style.scss */
#isi {
  max-width: 100%;
  margin-left: 3%; }
  /* line 92, style.scss */
  #isi .wrap {
    position: relative;
    max-width: 100%;
    display: inline-block; }
  /* line 99, style.scss */
  #isi .top {
    margin-top: 4%; }
  /* line 104, style.scss */
  #isi .bot {
    margin-top: 2%; }
  /* line 109, style.scss */
  #isi .kiri {
    float: left;
    max-width: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    /* line 119, style.scss */
    #isi .kiri .project {
      padding: 8%; }
  /* line 124, style.scss */
  #isi .kiri_bawah {
    float: left;
    max-width: 50%; }
    /* line 129, style.scss */
    #isi .kiri_bawah li {
      margin-top: 2% !important; }
  /* line 134, style.scss */
  #isi .kanan {
    float: left;
    max-width: 50%; }

/*# sourceMappingURL=style.css.map */