$font-stack:Arial;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

html{
	font: normal 16px sans-serif;
	color: #333333!important;
}

ul, nav
{
	list-style: none;
}

section
{
	display: flex;
	display: -webkit-box;       /*OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;          /*OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	flex-direction: column;
}


/*-------------
 	Header
-------------*/

header
{
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display:flex;

	&.active
	{
		display: flex;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display:flex;
	}

	nav
	{
		display:inline-block;
		position: absolute;
		right:8%;

		li
		{
			margin: 2% 26px;
			display:inline-flex;
		}
	}

}


/*----------------
 	Main Nav
----------------*/

.navbart 
{
  left: 0;
  top: 0;
  width: 100%;
  padding: 2%;
  font-size: 16px;
  background-color: transparent;
  webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  text-decoration: none;
}

#isi
{
	max-width:100%;
	margin-left:3%;

	.wrap
	{
		position:relative;
		max-width:100%;
		display:inline-block;
	}

	.top
	{
		margin-top:4%;
	}

	.bot
	{
		margin-top:2%;
	}

	.kiri
	{
		float:left;
		max-width:50%;
		display:inline-flex;

		.logo
		{

		}
		.project
		{
			padding:8%;
		}
	}
	.kiri_bawah
	{
		float:left;
		max-width:50%;

		li
		{
			margin-top:2%!important;
		}
	}
	.kanan
	{
		float:left;
		max-width:50%;
	}
}